<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {{>header}}
    <img src="./img/IMG_1184.jpeg">
    <p> Hi y'all I'm {{personName}}, a cute Sri Lankan girl. Soon enough though I'll be a kiwi girl ;).</p>
    {{>footer}}
  </body>

</html>