<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <div>
      <img class="portrait" src="/img/IMG_1184.jpeg">
    </div>
    <p> Hi y'all I'm {{personName}}, a cute Sri Lankan girl. Soon enough though I'll be a kiwi girl ;).</p>
  </div>
  {{>footer}}
</body>

</html>