<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <div>
      <img class="portrait" src="/img/IMG_1184.jpeg">
    </div>
    <p> Hi y'all I'm {{personName}}, a cute Sri Lankan girl. Soon enough though I'll be a kiwi girl ;).</p>
    <p> JK guys, I'm Ahmad Khan, and I made this site to learn NodeJS! It uses the Mapbox API to get geocode coordinates
        for your provided location, and then uses the Weatherstack API to get weather information for your the coordinates.
    </p>
  </div>
  {{>footer}}
</body>

</html>