<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>{{title}}</h1>
    <img src="./img/IMG_1184.jpeg">
    <p> Hi y'all I'm {{name}}, a cute Sri Lankan girl. Soon enough though I'll be a kiwi girl ;).</p>

  </body>

</html>